<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- style -->
        <link rel="stylesheet" href="/static/css/index.min.9d1ebdbb.min.css">
        <!-- scripts -->
        <script src="/static/js/analytics.js"></script>
        <script src="/static/js/index.min.aeb155e1.min.js"></script>
        <script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
        <link rel="Shortcut Icon" href="/static/image/favicon.ico"/>
        <title>AL社区</title>
    </head>
    <body>
        <div class='navbar'>
            <div class='navbar-inner'>
                <div class='container'>
                    <a class='brand' href='/topic/back_index'>
                        <img src="/static/image/123.png">
                    </a>

                    <form id='search_form' class='navbar-search' action="/search">
                        <input type='text' id='q' name='q' class='search-query span3' value=''/>
                    </form>
                    <ul class='nav pull-right'>
                        <li>
                            <a href='/topic/back_index'>
                            首页
                            </a>
                        </li>
                        <li><a href="{{ url_for('mail.index') }}">消息</a></li>
                        <li><a href='/setting'>用户设置</a></li>
                        {% if user.username is not none and user.username == "admin" %}
                            <li><a href="{{ url_for('admin.index') }}">管理员页面</a></li>
                        {% endif %}
                        <li>
                            <a href='/'>退出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block main %}{% endblock %}
        <div id="backtotop" style="display: none; top: 358px; right: 0px;">回到顶部</div>
        <div id="sidebar-mask"></div>
        <div id='footer'>
            <div id='footer_main'>
                <div class="links">
                    <img src="/static/image/githubIcon1.jpg">
                        |
                    <a class='dark' href='https://github.com/QAQAL/per-forum'>源码地址</a>
                </div>
                <div class='col_fade'>
                    <p>
                        <span style="color:#66A800;font-weight:bold">AL社区</span>
                        个人搬砖社区，专注搬砖节奏研究。
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>