{% extends "base.html" %}
{% block main %}
<div id="main">
    <div id="sidebar">
        <div class="panel">
            <div class="header">
                {% if user.username == "admin" %}
                    <span class="col_fade">管理员信息</span>
                {% else %}
                    <span class="col_fade">个人信息</span>
                {% endif %}
            </div>
            <div class="inner">
                <div class="user_card">
                    <div>
                        <a class="user_avatar" href="{{ url_for('index.user_detail', username=user.username) }}">
                            <img src="{{ user.user_image }}" title="{{ user.username }}">
                        </a>
                        <span class="user_name"><a class="dark" href="{{ url_for('index.user_detail', username=user.username) }}">{{ user.username }}</a></span>
                        <div class="board clearfix"><div class="floor"></div></div>
                        <span class="signature">
                            {{ user.signature }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        {% if user.username == "admin" %}
        <div class="panel">
            <div class="inner">
                <a href="{{ url_for('admin.index') }}" class="create_topic_btn">
                    <span class="span-info">用户管理</span>
                </a>
            </div>
        </div>
        {% endif %}

        <div class="panel">
            <div class="inner">
                <a href="/topic/new?board_id={{ bid }}" class="create_topic_btn">
                    <span class="span-success">发布话题</span>
                </a>
            </div>
        </div>
        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>友情站点</span>
            </div>
            <div class='inner'>
                <ol class="friendship-community">
                    <li>
                        <a href="https://www.google.com/" target="_blank">
                            <img src="/static/image/google.jpg">
                        </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="https://github.com/" target="_blank">
                            <img src="/static/image/github1.jpg">
                        </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="https://www.zhihu.com/" target="_blank">
                            <img src="/static/image/zhihu.png">
                        </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="https://stackoverflow.com/" target="_blank">
                            <img src="/static/image/stackoverflow1.jpg">
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="panel">
            <div class="header">
                <a href="/topic"
                   class="topic-tab current-tab">
                    全部的帖子
                </a>

                {% for b in bs %}
                <a href="/topic?board_id={{ b.id }}"
                   class="topic-tab current-tab">
                    {{ b.title }}
                </a>
                {% endfor %}
            </div>
            <div class="inner post">
                <div class="topic_list">
                    {% for t in ts %}
                    <div class="cell">
                        <div class="topic_title_wrapper">
                            <a class="user_avatar" href="{{ url_for('index.user_detail', username=t.user().username) }}">
                                <img src="{{ t.user().user_image }}" title="{{ t.user().username }}">
                            </a>
                            <span>{{ t.replies() | count }} / {{ t.views }}</span>
                            <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                                {{ t.title }}
                            </a>
                            <a class='last_time pull-right' href="/">
                                <span class="last_active_time" id="{{ t.created_time }}"></span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var log = function() {
        console.log.apply(console, arguments)
    }

    var e = function(sel) {
        return document.querySelector(sel)
    }

    var es = function(sel) {
        return document.querySelectorAll(sel)
    }

    var creatTime = function() {
        var ctimes = es('.last_active_time')
        for(var i = 0; i < ctimes.length; i++) {
            var now = Math.floor(new Date() / 1000)
            var delta = Math.floor(((now - Number(ctimes[i].id))/ 3600))

            var h = delta + '小时前'
            var d = Math.floor(delta/24)
            var dh = delta%24 + '小时前'
            if (d == 0) {
                ctimes[i].innerText = h
            } else {
                ctimes[i].innerText = d+'天'+dh
            }


        }
    }

    var __main = function() {
        console.log('running')
        creatTime()
    }

    __main()

    </script>
{% endblock %}