{% extends "base.html" %}
{% block main %}
    <div id="main">
        <div id='sidebar'>
            <div class='panel'>
                <div class='header'>
                    <span class='col_fade'>Markdown 语法参考</span>
                </div>
                <div class='inner'>
                    <ol>
                        <li><tt>### 单行的标题</tt></li>
                        <li><tt>**粗体**</tt></li>
                        <li><tt>`console.log('行内代码')`</tt></li>
                        <li><tt>```js\n code \n```</tt> 标记代码块</li>
                        <li><tt>[内容](链接)</tt></li>
                        <li><tt>![文字说明](图片链接)</tt></li>
                    </ol>
                    <span>
                        <a href='https://segmentfault.com/markdown' target='_blank'>Markdown 文档</a>
                    </span>
                </div>
            </div>

            <div class='panel'>
                <div class='header'>
                    <span class='col_fade'>话题发布指南</span>
                </div>
                <div class='inner'>
                    <ol>
                        <li>尽量把话题要点浓缩到标题里</li>
                        <li>
                            代码含义和报错可在
                            <a href="http://segmentfault.com/t/node.js">SegmentFault</a>
                            提问
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="panel">
                <div class="inner post">
                    <form id="create_topic_form" method="post" action="{{ url_for('.add', token=token) }}">
                        <fieldset>
                            <textarea autofocus class='span9' id='title' name='title' rows='1' placeholder="标题字数 10 字以上"></textarea>
                            <span class="tab-selector">选择版块：</span>
                            <select name="board_id" id="board" required>
                                {% for b in bs %}
                                    {% if bid == b.id %}
                                        <option value="{{ b.id }}" selected="selected" >{{ b.title }}</option>
                                    {% else %}
                                        <option value="{{ b.id }}" >{{ b.title }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class='markdown_editor in_editor'>
                                <div class='markdown_in_editor'>

                                    <textarea class='editor' name='content' rows='20' placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
                                    <div class='editor_buttons'>
                                        <input type="submit" class='span-primary submit_btn' data-loading-text="提交中" value="提交">
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
  (function () {
    var editor = new Editor();
    editor.render($('.editor')[0]);
  })();
</script>
{% endblock %}